<section id="sponsor">
  <h1 class="title"><%= __('Support the author') %></h1>

  <div class="leaderboard">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- bravo-kernel-blog-leaderboard -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1161412231963156"
         data-ad-slot="4755382371"
         data-ad-format="auto">
    </ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

</section>
